body {
	background-color: #323942;
	color: #dddddd;
	font-family: monospace;
	font-size: 16px;
	padding: 10px;
	
}


a:link, a:visited {
	text-decoration: none;
	color: #E3C797;
}

a:hover {
	background-color: #E3C797;
	color: #222222;
}

a:active {
	color: #963A2F;
}

input {
	background-color: #E3C797;
	color: #7BA34D;
	
}

input:focus {
    outline: none;
    background-color: #E3C797;
    color: #7BA34D;

}


input[type=submit] {
  background-color: transparent;
  border: 2px solid #E3C797;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
}

input:hover[type="submit"] {
	color: white;
	background-color: #7BA34D;
	text-transform: capitalize;
} 

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #7BA34D;
  color: white;
  
}

tr {
	color: white;
}













